@import './setup';



header {
    height:50px;
}

h1 {
    margin:0;
    text-align:center;
}


.App {

    background-color:black;
    color:white;
    /* background-color:#fafafa; */
    height:100vh;
    width:100vw; 

    .screen {
        width: 90vw;
        height:90vh;
        background-color:white;
        margin:auto;
        overflow:hidden;
        position:relative;
        .content {
            width:3000px;
            height:3000px;
            position:absolute;
            background-color:grey;
        }
      }
  }
  
  html {
    background-color:black;
}

.dragme{
  color:black;
}

.draggable {
/* Indicate the element draggable */
cursor: move;
/* It will be positioned absolutely */
position: absolute;
/* Doesn't allow to select the content inside */
user-select: none;
}


.nodeBox {
    background-color:green;
    position:absolute;
    width:200px;
    height:100px;
    border: 3px solid white;
    border-radius: 10px;
    text-align:center;
}


.magenta {
    color: rgb(241, 3, 200);
    border-color: rgb(241, 3, 200);
    background-color: rgb(251, 175, 238);
  }
  
  .violet {
    color: rgb(134, 3, 241);
    border-color: rgb(134, 3, 241);
    background-color: rgb(215, 166, 254);
  }
  
  .blue {
    color: rgb(0, 100, 210);
    border-color: rgb(0, 100, 210);
    background-color: rgb(176, 213, 254);
  }
  
  .turquoise {
    color: rgb(3, 211, 207);
    border-color: rgb(3, 211, 207);
    background-color: rgb(190, 254, 253);
  }